body {
    margin:0;
}
h1 {
    color:blue;
    margin:0 auto;
}
header{
    padding:10px;
    margin:0;
    color:white;
    background-color: black;
    font-weight: bold;
    width:100%;
}

main{
    padding:10px;
    margin: 0 auto;
    margin-top:10px;
    width:95%;
    height:85vh;
    background-color: #eee;
    background-color: #eef;
    box-shadow: 2px 2px 12px darkgray;
    border-radius: 10px;
}

.main_img{
    display: block;
    width: min(100%,1200px);
    margin:0 auto;
    height: auto;
}